@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-cols-13 {
  grid-template-columns: repeat(13, minmax(0, 1fr));
}
.grid-rows-13 {
  grid-template-rows: repeat1(3, minmax(0, 1fr));
}
.row-span-8 {
  grid-row: span 8 / span 8;
}
.skyGradient{

  background: linear-gradient(42.43deg, #C6DBFF 0%, #E1EBFA 52.25%);
}
.footerGradient{
  background: linear-gradient(84.81deg, rgba(72, 106, 111, 0.2) 0%, rgba(67, 151, 164, 0.2) 100%), #486A6F;
}
.aboutHeroGradient{
  background: linear-gradient(42.43deg, #C6DBFF 0%, #E1EBFA 52.25%);
}
.welcomeGradient{
  background: linear-gradient(180deg, #9ED5DE 0%, #4397A4 100%);
/* Shadow Primary */

box-shadow: 0px 30px 60px rgba(59, 130, 246, 0.25);
}